* {box-sizing: border-box;}
html { height: 100%; display: flex; }

body
{
  font-family: Helvetica, sans-serif;
  background-color: #DDDDDD;
  margin: auto;
 
}

nav{
  background-color: #e72870;
  color: white;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: absolute;
  border-radius: 1em 1em 0 0;
}

img{
  width: 100px;
  
}

.input--text::placeholder
{
  color: #ccc;
}

.input--text
{
  font-size: 1em;
  width: 100%;
  padding: 0.4em;
  color: #000;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 0.2em;
}

.app
{
  background-color: white;
  width: 400px;

  font-size: 1.25em;
  padding: 1em;
  border-radius: 0 0 1em 1em;
}


.btn
{
  font-size: 1em;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 0.2em;
  border: none;
  color: white;
  background-color: #e72870;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:active
{
  position: relative;
  top: 1px;
}

.hidden
{
  display:none;
}

.alert
{
  background-color: #B4C4E7;
  padding: 0.5em;
  margin-bottom: 1em;
  color: #32549d;
}

.btn:hover
{
  background-color: #3ec7d1;
  color: #ffffff;
  cursor: pointer;
}
